<mat-icon (click)="onNoClick()" style="float: right; cursor: pointer;">close</mat-icon>

<div class="container example-container" style="margin-top: 20px">
<mat-form-field appearance="outline">
  <mat-label>Name</mat-label>
  <input matInput placeholder="Name" [(ngModel)]="name">
</mat-form-field>

<mat-form-field appearance="outline">
  <textarea matInput placeholder="Description" [(ngModel)]="description"></textarea>
</mat-form-field>

<mat-form-field class="example-chip-list">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let fruit of fruits;let indx=index;" [selectable]="selectable" [removable]="removable" (removed)="remove(fruit,indx)">
        {{fruit.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip>
      <input placeholder="Add Permissions..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
       [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
        {{fruit.name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
<button class="center btn mat-raised-button-white mat-raised-button" [mat-dialog-close]="'ok'" (click)="makeRole()">Create</button>
