body {
  background: #fff;
  color: #666;
  font: 90%/180% Arial, Helvetica, sans-serif;
  width: 800px;
  max-width: 96%;
  margin: 0 auto;
}
a {
  color: #69C;
  text-decoration: none;
}
a:hover {
  color: #F60;
}
h1 {
  font: 1.7em;
  line-height: 110%;
  color: #000;
}
p {
  margin: 0 0 20px;
}


input {
  outline: none;
}
input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: initial;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none; 
}


input[type=search] {
  background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;
  
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}
input[type=search]:focus {
  width: 130px;
  background-color: #fff;
  border-color: #66CC75;
  
  -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
  -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
  color: #999;
}
input::-webkit-input-placeholder {
  color: #999;
}

/* Demo 2 */
#demo-2 input[type=search] {
  width: 15px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
#demo-2 input[type=search]:hover {
  background-color: #fff;
}
#demo-2 input[type=search]:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: #fff;
  cursor: auto;
}
#demo-2 input:-moz-placeholder {
  color: transparent;
}
#demo-2 input::-webkit-input-placeholder {
  color: transparent;
}

.responsive {
  width: 100%;
  height: auto;
}

.mt {
  width: 100px;

}

.btn2 {
  margin-top: 449px;
  position: fixed;
  margin-left: 92%;
}

.posActive {

  float: right;
  position: inherit;
  margin-left: auto;
  margin-right: 25px;
}

.clrgreen {
  color: green;
}

.clrgrey {
  color: grey;
}

.posChannel {
  float: right;
  position: inherit;
  margin-left: auto;
}

.btnPos {
  float: right;

}

.mat-expansion-panel {
  border-radius: 10px;
    border-bottom: 1px solid #bebdbd;
    border-left: 1px solid #bebdbd;
    border-right: 1px solid #bebdbd;
}

.light-blue.darken-2 {
  background-color: #e8e8e8 !important;
}

.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  padding: 0 24px;
  padding-top: 18px;
}

// .mat-expansion-panel:hover {
//   border: 1px solid #1b99bf;
// }

.active {
  border: 2px green solid;
  box-shadow: 5px 5px 5px grey;

}

.nonActive {
  border: 3px solid #797979;
  box-shadow: 5px 5px 5px grey;

}

.spinner {

  left: 50%;
  bottom: 50%;
  margin-top: 250px;
}

.avatar-upload {
  position: relative;
  max-width: 205px;
  margin: 10px 15px;
  .avatar-edit {
      position: absolute;
      right: 12px;
      z-index: 1;
      top: 10px;
      input {
          display: none;
          + label {
              display: inline-block;
              width: 34px;
              height: 34px;
              margin-bottom: 0;
              border-radius: 100%;
              background: #FFFFFF;
              border: 1px solid transparent;
              box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
              cursor: pointer;
              font-weight: normal;
              transition: all .2s ease-in-out;
              &:hover {
                  background: #f1f1f1;
                  border-color: #d6d6d6;
              }
              &:after {
                  content: "\f040";
                  font-family: 'FontAwesome';
                  color: #757575;
                  position: absolute;
                  top: 10px;
                  left: 0;
                  right: 0;
                  text-align: center;
                  margin: auto;
              }
          }
      }
  }
  .avatar-preview {
      width: 192px;
      height: 192px;
      position: relative;
      border-radius: 100%;
      border: 6px solid #F8F8F8;
      box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
      > div {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
      }
  }
}

.hoverWrapper:hover #hoverShow1 {
  display: flex;
}

.hoverWrapper #hoverShow1 {
  display: none;
}
.mat-expansion-panel.mat-expanded {
  border: 2px solid #727272;
  border-radius: 5px;
}