<mat-spinner *ngIf="spinner && !agents" class="spinner"></mat-spinner>
  
<button *ngIf="agents" mat-mini-fab style="position: fixed; float: right; right: 12px; top: 463px; background-color: #0747A6;" 
(click)="onAddNewagentClick()"><mat-icon>add</mat-icon></button>

<div *ngIf="agents" style="left: 17%;
position: fixed;
z-index: 1000;
padding-top: 6px;">
<form>
    <input type="search" name="search" [(ngModel)]="searchItem" placeholder="Search">
  </form>
</div>

<div *ngIf="agents" style="position: fixed; height: 48px;
z-index: 100;
margin-left: 18px;
border-radius: 5px;
width: 89.5%;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);

background-image: linear-gradient(to bottom, #FFFFFF, #e2e2e2);">
  <div class="row" style="padding-top: 14px">
    <div class="col s1" style="padding-left: 34px"><strong>AGENTS</strong></div>
  </div>
</div>

<div *ngIf="agents">
<div style="padding-top: 48px;">
<div >
  
  <mat-expansion-panel #panel  *ngFor="let agent of agents | agentFilterPipe : searchItem; trackBy: trackByAgentId"  style="margin-left: 22px; margin-right: 66px" (opened)="panelOpenState = true"
  (closed)="panelOpenState = false">

    <mat-expansion-panel-header style="font-weight: 100; padding-top: 0px; font-size: 14px" [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
    
      <div class="chip #0288d1 light-blue darken-2" style="margin-left: 0px; margin-top: 6px; width: 170px; max-width: 170px;">
        <img class="imageClass circle" width="42" height="42" src="{{agent.profilePicture != null ? 'data:image/jpg;base64,'+agent.profilePicture : defaultPic }}" />
        <div style="color: #17a5d0">{{agent.fullName}}</div>
      </div>

      <div class="center" style="padding-top: 10px; width: 100px; max-width: 100px;" [ngClass]="{'clrgreen' : agent.profileExists, 'clrgrey': !agent.profileExists}"><strong>{{agent.profileExists
          ? "Profile" : "NO Profile"}}</strong></div>

      <!-- <div class="col s1">2</div> -->
      <div  style="width: 100px; max-width: 100px">
        <div class="center">
          <div>Updated</div>
          <!-- <div>{{firstdate | myPipe : agent.lastUpdated}} d ago</div> -->
          <div>
            <span *ngIf="(firstdate | myPipe : agent.lastUpdated) != 0">
           <strong>{{firstdate | myPipe : agent.lastUpdated}} d ago </strong>
            </span>
            <span *ngIf="(firstdate | myPipe : agent.lastUpdated) == 0">
             <strong>recently</strong>
            </span>
          </div>
        </div>
      </div>
      <div  style="width: 100px; max-width: 100px">
        <div class="center">
          <div>Created</div>
          <!-- <div>{{firstdate | myPipe : agent.dateCreated}} d ago</div> -->
          <div>
            <span *ngIf="(firstdate | myPipe : agent.dateCreated) != 0">
            <strong>{{firstdate | myPipe : agent.dateCreated}} d ago</strong>
            </span>
            <span *ngIf="(firstdate | myPipe : agent.dateCreated) == 0">
              <strong>recently</strong>
            </span>
          </div>
        </div>
      </div>
      <div style="width: 100px; max-width: 100px">
        <div class="innerAlign center">
          <div>Channel</div>
         <strong>{{agent.type == 'DB'? "LOCAL" : "CUCM"}}</strong>
        </div>
      </div>

      <div class=" center" style="padding-top: 10px; width: 100px; max-width: 100px;" [ngClass]="{'clrgreen' : agent.isActive, 'clrgrey': !agent.isActive}"><strong>{{agent.isActive
        ?
        "Active" : "Inactive"}}</strong>
      </div>

      <div  style="padding-top: 5px ; width: 350px; max-width: 350px; padding-left: 14px">
        <!-- <div class="row"> -->
          <div style="padding-top: 6px"  *ngIf="!agent.roles[0]" >No Roles</div>
          <div *ngFor="let role of agent.roles; let i = index" class="chip">{{agent.roles[i].name}}</div>
        <!-- </div> -->
      </div>
      
     

        <div style="padding-top: 10px" (click)="onDeleteClick(agent.id)">
           <mat-icon style="color: #d86363" >cancel</mat-icon>
        </div>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>

      <div class="row" style="padding-left: 35px">

      <div class="col s3">
        <!-- <img class="imageClass circle center responsive" [ngClass]="{'active' : agent.isActive , 'nonActive' : !agent.isActive}" src='data:image/jpg;base64,{{agent.profilePicture}}' /> -->
        <div class="avatar-upload">
          <div class="hoverWrapper">
          <div class="avatar-edit" id="hoverShow1">
            <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="oldfileChangeEvent($event,agent.username)"/>
            <label for="imageUpload"></label>
          </div>
          <div class="avatar-preview">
            <div id="imagePreview" [@selectedImage]="imageState" [style.background-image]="'url('+'data:image/jpg;base64,'+agent.profilePicture+')'"><div>
          </div>
        </div>
      </div>
    </div>
    </div>
        <div class="col s12 center" style="text-shadow: 5px 5px 5px grey;" [ngClass]="{'clrgreen' : agent.isActive, 'clrgrey': !agent.isActive}"><strong>{{agent.fullName}}</strong></div>
      </div>

      <div class="col s9">
        <mat-tab-group [color]="accent" [backgroundColor]="primary">

          <mat-tab label="Attributes">
            <div>
              <div>
                <form class="form" style="margin-top: 20px">

                  <mat-slide-toggle name="status" [(ngModel)]="agent.isActive">Active</mat-slide-toggle>
                  <br><br><br>
                  <mat-form-field appearance="outline">
                      <mat-label>Name</mat-label>
                    <input matInput [(ngModel)]="agent.username" [formControl]="name">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label>Full Name</mat-label>
                    <input matInput [(ngModel)]="agent.fullName" [formControl]="fullName">
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                    <input matInput [(ngModel)]="agent.email"[formControl]="email">
                  </mat-form-field>

                </form>

              </div>

            </div>
          </mat-tab>


          <mat-tab label="Roles">
            <!-- <div class="center" style="background-color: rgb(27, 88, 187); color: rgb(255, 255, 255)">ROLES</div> -->
            <br>

            <mat-chip-list>
              <mat-chip removable color="primary" selected *ngFor="let role of agent.roles; let i = index">{{agent.roles[i].name}} 
                <mat-icon matChipRemove (click)="onRolesClick(role,agent.id)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <br>
            <mat-form-field class="example-chip-list">
              <mat-chip-list #chipList>
                
                <input placeholder="Add Roles..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, agent.id)">
                <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                  {{fruit.name}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

          </mat-tab>
          <mat-tab label="Profile">

          </mat-tab>
        </mat-tab-group>
      </div>

    </div>

    <mat-action-row>
      <button class="btn btn-primary" (click)="OnUpdateClick(agent)">Update</button>
      &nbsp;
      <!-- <button class="btn btn-danger red" (click)="onDeleteClick(agent.id)">Delete</button> -->
    </mat-action-row>
  </ng-template>
  </mat-expansion-panel>
</div>
</div> 
</div>

<div *ngIf="!agents && !spinner" style="color: red; margin-top: 50px; padding-left: 470px">
  <img height="450" src={{connectionErrorImg}}>
  <h5 style="padding-left: 44px"><strong>Server Not Responding</strong></h5></div>