<div class="top-nav">
    <mat-toolbar>  
      <mat-toolbar-row>
        <span>UMM</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
              (mouseleave)="decrease()">

    <mat-nav-list>
      <mat-list-item routerLink='agents' [routerLinkActive]="['is-active']" >
        <mat-icon md-list-icon>supervisor_account</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h6 style="color: white; padding-left: 5px">Agents</h6> 
        </div>
      </mat-list-item>

      <mat-list-item routerLink='roles' [routerLinkActive]="['is-active']">
        <mat-icon md-list-icon>group_work</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h6 style="color: white; padding-left: 5px">Roles</h6> 
        </div>
      </mat-list-item>
 
    </mat-nav-list>

  </mat-sidenav>

  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
