.top-nav {
  position: fixed;
  overflow:visible;
  height: 40px;
  width: 100%;
  z-index: 100;
}
.mat-toolbar {
  background-color: #0747A6;
  color: white;
}
.mat-toolbar.mat-primary {
  background: #007bff;
  color: #fff;
}
.mat-toolbar-multiple-rows {
  min-height: 40px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 40px;
}    
    
    .example-icon {
    padding: 0 14px;
  }
  
  .span-spacer {
    flex: 1 1 auto;
  }
  .showNavbarButton{
    position: fixed;
    padding-left: 10px;
  }

  $dark-blue: #0747A6;

.main-nav {
  padding: 0;
}

.main-sidebar {
  width: 40px !important;
  padding: 0px;
  font-size: 10px;
  visibility: visible;
  z-index: 2;
}

.example-sidenav-content {
 margin-top: 3%;
}

.example-sidenav {
  background-color: $dark-blue;
  position: fixed;
  top: 40px;
  .sidebar-text {
    font-size: 10px;
  }
}

.mat-drawer-container {
  background-color: transparent;
}

ul.sidenav-item {
  li {
    margin-top: 5px;
    padding-bottom: 15px;
    padding-left: 0px;
    cursor: pointer;

    &:hover {
      top: 5px;
      background: darken($dark-blue, 10%);

    }
    a {
      display: block;
      max-width: 100%;
      color: white;
      padding-top: 10px;
      padding-left: 10px;
    }

    i {
      font-size: 16px;
      position: relative;
      top: 4px;
      padding-left: 6px;
    }
  }

  color: white;
  padding-left: 0px;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;

}

mat-icon {
  color: white;
}

.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.is-active {
    border-right: 3px solid coral;
  }
  
  .example-sidenav {
    background-color: $dark-blue;
    position: fixed;
    top: 40px;
    .sidebar-text {
      font-size: 10px;
    }
  }

  .main-nav{
    padding: 0;
  }