<mat-spinner *ngIf="spinner && !roles" class="spinner"></mat-spinner>

<button *ngIf="!spinner" mat-mini-fab style="position: fixed; float: right; right: 12px; top: 463px; background-color: #0747A6;"
  (click)="onAddNewRoleClick()">
  <mat-icon>add</mat-icon>
</button>

<div *ngIf="roles" style="left: 31%;
position: fixed;
z-index: 1000;
padding-top: 6px;">
<form>
    <input type="search" name="search" [(ngModel)]="searchItem" placeholder="Search">
  </form>
</div>

<div *ngIf="roles" style="position: fixed; height: 48px;
z-index: 100;
margin-left: 18px;
border-radius: 5px;
width: 89.5%;
box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 2px 1px -1px rgba(0, 0, 0, .12);

background-image: linear-gradient(to bottom, #FFFFFF, #e2e2e2);">
  <div class="row" style="padding-top: 14px">
    <div class="col s1" style="padding-left: 45px"><strong>ROLES</strong></div>
    <div class="col s2" style="padding-left: 89px"><strong>PERMISSIOSNS</strong></div>
  </div>
</div>

<div style="padding-top: 48px" *ngIf="roles">
    <mat-expansion-panel #panel class="z-depth-5" *ngFor="let role of roles | rolesFilterPipe : searchItem; trackBy: trackByRoletId"
      style="margin-left: 22px; margin-right: 66px" (opened)="panelOpenState = true" (closed)="panelOpenState = false">

      <mat-expansion-panel-header [collapsedHeight]="customCollapsedHeight" [expandedHeight]="customExpandedHeight">
        <div style="width: 150px; max-width: 150px;">
          {{role.name}}
        </div>
        <div *ngFor="let permission of role.permissions; let i = index" class="chip">
          {{role.permissions[i].name}}
        </div>
      </mat-expansion-panel-header>

      <ng-template matExpansionPanelContent>
        <mat-tab-group [color]="accent" [backgroundColor]="primary">
          <mat-tab label="Attributes">



            <mat-form-field appearance="outline">
              <mat-label>Name</mat-label>
              <input matInput placeholder="Name" [(ngModel)]="role.name">
            </mat-form-field>

            <mat-form-field appearance="outline">
              <textarea matInput placeholder="Description" [(ngModel)]="role.description"></textarea>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="OnUpdateClick(role)">Update</button>

          </mat-tab>
          <mat-tab label="Permissions">

            <mat-chip-list>
              <mat-chip removable color="primary" selected *ngFor="let permission of role.permissions; let i = index">{{role.permissions[i].name}}
                <mat-icon matChipRemove (click)="onPermissionsClick(role,permission.id)">cancel</mat-icon>
              </mat-chip>
            </mat-chip-list>
            <mat-form-field class="example-chip-list">
                <mat-chip-list #chipList>
                  
                  <input placeholder="Add Permissions..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto" [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event, role.id)">
                  <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
                    {{fruit.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
          </mat-tab>

        </mat-tab-group>

        <mat-action-row>
            <button mat-mini-fab color="warn" (click)="onClickDelete(role.id)"><mat-icon>delete</mat-icon></button>

        </mat-action-row>
      </ng-template>
    </mat-expansion-panel>
</div>

<div *ngIf="!roles && !spinner" style="color: red; margin-top: 50px; padding-left: 470px">
  <img height="450" src={{connectionErrorImg}}>
  <h5 style="padding-left: 44px"><strong>Server Not Responding</strong></h5>
</div>
