<mat-icon (click)="onNoClick()" style="float: right; cursor: pointer;">close</mat-icon>

<div class="row">
  <div class="col s4">
    <div class="avatar-upload">
      <div class="hoverWrapper">
        <div class="avatar-edit" id="hoverShow1">
          <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="fileChangeEventt($event)" />
          <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
          <div id="imagePreview" [@selectedImage]="imageState" [style.background-image]="'url('+dummyImage+')'">
            <div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col s8">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [formControl]="username" required>
        <mat-error *ngIf="username.hasError('required')">
          User Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="username.hasError('minlength') || username.hasError('maxlength') && !username.hasError('required')">
          Required range 3-30
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Fullname</mat-label>
        <input matInput [formControl]="fullname" required>
        <mat-error *ngIf="fullname.hasError('required')">
          Full Name is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="fullname.hasError('minlength') || fullname.hasError('maxlength') && !fullname.hasError('required')">
          Required range 3-100
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput [formControl]="password" required>
        <mat-error *ngIf="password.hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="password.hasError('minlength') || password.hasError('maxlength') && !password.hasError('required')">
          Required range 8-30
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput [formControl]="emaill" (blur)="checkemail()" (change)="checkemail()">
        <mat-error *ngIf="emaill.hasError('email')">
          Email <strong>Not Valid</strong>
        </mat-error>
      </mat-form-field>

      <mat-slide-toggle name="isActive" [(ngModel)]="ummObj.isActive">Active</mat-slide-toggle>
      <br>
      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let fruit of fruits;let indx=index;" [selectable]="selectable" [removable]="removable"
            (removed)="remove(fruit,indx)">
            {{fruit.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Add Roles..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>
  </div>
</div>
<button class="center btn mat-raised-button-white mat-raised-button" color="accent" (click)="makeuser()">Create</button>

